﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- banner bg main start -->
<div class="banner_bg_main" style="background : url(../lib/images/banner-bg.png);">
    <!-- header top section start -->
    <div class="container">
        <div class="header_section_top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom_menu">
                        <ul>
                            <li><a href="#">Best Sellers</a></li>
                            <li><a href="#">Gift Ideas</a></li>
                            <li><a href="#">New Releases</a></li>
                            <li><a href="#">Today's Deals</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top section start -->
    <!-- logo section start -->
    <div class="logo_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo"><a href="home"><img src="~/lib/images/logo.png"></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- logo section end -->
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <div class="containt_main">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="dropdown-item" href="fashion">Fashion</a>
                        <a class="dropdown-item" href="grocery">Glocery</a>
                    </div>
                </div>
                <div class="main">
                    <!-- Another variation with a button -->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header_box">
                    
                        <a asp-area="" asp-controller="LoginU" asp-action="Loginpage">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="padding_10">Login</span>
                        </a>  
                    
                    <div class="login_menu">
                        <ul>
                            <li>
                                <a href="#">
                                    <i style="color:black;" class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span id='crt' style="color:black;" class="padding_10">Cart<small style="color:black;" id="crt"></small></span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Register" asp-action="RegisterUser">
                                    <i style="color:black;" class="fa fa-user" aria-hidden="true"></i>
                                    <span style="color:black;" class="padding_10" >Register</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="banner_taital">Get Start <br>Your favourite shoping</h1>
                                <div class="buynow_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="banner_taital">Get Start <br>Your favourite shoping</h1>
                                <div class="buynow_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- banner bg main end -->
<!-- electronic section start -->
<div class="fashion_section">
    <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Electronic</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop</h4>
                                    <p class="price_text">Starting price<span style="color: #f4ecec;"> 20,000 Rs.</span></p>
                                    <div class="electronic_img"><img src="~/lib/images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Mobile</h4>
                                    <p class="price_text">Starting Price  <span style="color: #dedbdb;"> 5000 Rs.</span></p>
                                    <div class="electronic_img"><img src="~/lib/images/mobile-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Computers</h4>
                                    <p class="price_text">Starting Price  <span style="color: #d7d3d3;"> 10,000 Rs.</span></p>
                                    <div class="electronic_img"><img src="~/lib/images/computer-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Electronic</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">HeadPhones</h4>
                                    <p class="price_text">Starting Price  <span style="color: #ebe3e3;"> 300 Rs.</span></p>
                                    <div class="electronic_img"><img src="~/lib/images/headphones.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">TV</h4>
                                    <p class="price_text">Starting Price  <span style="color: #ebe4e4;"> 7000 Rs.</span></p>
                                    <div class="electronic_img"><img src="~/lib/images/TV.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Speakers</h4>
                                    <p class="price_text">Starting Price  <span style="color: #e8e3e3;"> 800 Rs.</span></p>
                                    <div class="electronic_img"><img src="~/lib/images/sp.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- electronic section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_logo"><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/lib/images/logo.png"></a></div>
        <div class="input_bt">
            <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
            <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
        </div>
        <div class="footer_menu">
            <ul>
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#">Gift Ideas</a></li>
                <li><a href="#">New Releases</a></li>
                <li><a href="#">Today's Deals</a></li>
                <li><a href="#">Customer Service</a></li>
            </ul>
        </div>
        <div class="location_main">Help Line  Number : <a href="#">+1 1800 1200 1200</a></div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">© 2023 All Rights Reserved e-shop Group</a></p>
    </div>
</div>
