@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- banner bg main start -->
 
<div class="banner_bg_main_Glo">
    <!-- header top section start -->
    <div class="container">
        <div class="header_section_top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom_menu">
                        <ul>
                            <li><a href="#">Best Sellers</a></li>
                            <li><a href="#">Gift Ideas</a></li>
                            <li><a href="#">New Releases</a></li>
                            <li><a href="#">Today's Deals</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top section start -->
    <!-- logo section start -->
    <div class="logo_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo"><a href="Home"><img src="~/lib/images/logo.png"></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- logo section end -->
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <div class="containt_main">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="home">Home</a>
                        <a class="dropdown-item" href="electronics">Electronics</a>
                        <a class="dropdown-item" href="fashion">Fashion</a>

                    </div>
                </div>
                <div class="main">
                    <!-- Another variation with a button -->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header_box">
                   
                       <button class="btn btn-danger" ><a asp-area="" asp-controller="LoginU" asp-action="Loginpage">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="padding_10">Login</span>
                        </a></button>
                    
                    <div class="login_menu">
                        <ul>
                            <li>
                                <<a href="#">
                                    <i class="fa fa-shopping-cart" style="color:black;" aria-hidden="true"></i>
                                    <span id='crt' style="color:black;" class="padding_10">Cart<small style="color:black;" id="crt"></small></span>
                                </a>
                            </li>
                            <li>
                               <button class="btn btn-danger">
                                    <a asp-area="" asp-controller="Register" asp-action="RegisterUser">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="padding_10">Register</span>
                                    </a>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="banner_taital">Get Start <br>Your favourite shoping</h1>
                                <div class="buynow_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="banner_taital">Get Start <br>Your favourite shoping</h1>
                                <div class="buynow_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- banner bg main end -->
<!-- G  section start -->
<div class="G_section">
    <div id="G_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Daily Grocery Needs</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Shampoo Products</h4>
                                    <p class="price_text">Start Price  <span style="color: #efebeb;"> 100 Rs.</span></p>
                                    <div class="G_img"><img src="~/lib/images/shamp.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Tea Products</h4>
                                    <p class="price_text">Start Price  <span style="color: #faf4f4;"> 50 Rs.</span></p>
                                    <div class="G_img"><img src="~/lib/images/tea.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Froots</h4>
                                    <p class="price_text">Start Price<span style="color: #fcf5f5;"> 50 Rs.</span></p>
                                    <div class="G_img"><img src="~/lib/images/froots.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Daily Grocery Needs</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Shampoo Products</h4>
                                    <p class="price_text">Starting Price <span style="color: #f0ecec;">100 </span></p>
                                    <div class="G_img"><img src="~/lib/images/shamp.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Tea Products</h4>
                                    <p class="price_text">Start Price<span style="color: #e0d6d6;">100 </span></p>
                                    <div class="G_img"><img src="~/lib/images/tea.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Froots</h4>
                                    <p class="price_text">Start Price  <span style="color: #f6efef;">100</span></p>
                                    <div class="G_img"><img src="~/lib/images/froots.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#" onclick="mycart()">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#G_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#G_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>

    </div>
</div>
<!-- G  section end -->
